html {
    background: rgb(238,238,238);
    font-family: Georgia, serif;
   
}
.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    width: 1000px;
    height: 1600px;
    margin: auto;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(238, 238, 238);
}
header{
    display: inline-flex;
    align-content: space-between;
    width: 100%;
    border-bottom: 2px solid black;
    font-family: Georgia, serif;
}
h1{
    font-family: Georgia, serif;
}    

header h1{
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;    
}
img{
    background: rgb(255, 255, 255);
}
.articles=wrapper{
    width: 70%;
}
.first-article img{
    border: 2px solid black;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    box-shadow:rgba(0, 0, 0, 0.25);
    float: right;
}

.second-article blockquote{
    border-left: 3px solid lightgray;
    font-family: Georgia, serif;
    padding-left: 20px ;
    float: right;
    width: 40%;
}

.second-article blockquote cite{
    font-family: Georgia, serif;
   text-align: right;

}

.third-article img{
    border: 2px solid black;
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.25);
    float: left
}
header nav ul{
    display: flex;
}
header nav ul li{
    display: inline-flex;
    text-align: end;
    width: 40%;
    vertical-align: bottom;
    padding: 10px;
}
header nav ul li a{
color: rgb(0, 153, 0);
}

aside{
   display: flex;
    width: 20%;
    height: 100%;
}
aside nav{
    align-items: center;
}

aside nav ul li a{
    color: rgb(0, 153, 0);
}
