html{
    background: #eeeeee;
    width: 900px;
    min-width: 300px;
}

.gallery {
    box-sizing: border-box;

}

.gallery li {
    width: 30%;
    display: inline-block;
    border: 0.4rem solid black;
    margin: 5px;
}

img{
box-sizing: border-box;
width: 100%;
vertical-align: center;
padding: 10px;
vertical-align: center;
 }