/*max-width: 15vw -> max-height: 35rem  ,*/
html{
    font-family: Helvetica, sans-serif;
}
.container{
display: flex;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
align-content: space-between;
max-width: 15vw;
height: 35rem;
border: 1px solid black;
}

span{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    width: 60px;
    height: 55px;
    margin: 5px;
}

.S{
order: 1;
}

.e{
order: 2;
}
.m{
order: 3;
}
.a{
order: 4;
}
.n{
order: 5;
}
.t{
order: 6;
}

.iLetter{
order: 7;
}
.c{
order: 8;
}
.H{
order: 9;
    }
    
.T{
order: 10;
    }

.M{
        order: 11;
    }

.L{
        order: 12;
    }
    