*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Helvetica, sans-serif;
    width: 800px;
    height: 300px;
    border: 1px solid black;
    padding: 10px 30px;
    margin: 20px auto;
}

article{
    margin: 0px 10px 0px 30px;
    padding-top: 10px;
}

h1, h2,h6{
    font-family: Georgia, sans-serif;
    padding: 5px;
}

h6,p{
    color: #757575;
}

.bottom{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        padding: 40px 20px;
        align-items: flex-end;
        justify-content: space-between;
}

.btn-wrapper{
    display: flex;
    width: 30%;
    align-content: flex-start;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    width: 52%;
}

.text-wrapper h2{
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 0px;
}

button{
    background-color: #02A77B;
    color: white;
    padding: 10px 40px;
    text-transform: uppercase;
    border: none;;
    cursor: pointer;
    display: flex;
    font-weight: bolder;
    border-radius: 3px;
}
span{
    background-color: #CEFDE9;
}